{% extends 'main.html' %}
{% load static %}

{% block css %}
     <link href="{% static 'css/form.css'  %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
{% endblock %}

{% block content %}
    <section class="section_form">
   <div class="container_form" id="container">
                <form method="POST" autocomplete="off" >
                    {% csrf_token %}
                <h1 style="margin-bottom: 2rem;margin-top: 5rem">Update account</h1>

                    {% for field in form %}
              {% if field.name == 'is_writer' %}
             <label class="form__label" > {{ field.label }} {{ field }}  </label>
                        {% else %}
                         {{field}}
              {% endif %}


{% endfor %}
{#                <a href="#">Forget Your Password?</a>#}
                <button class="button-main" type="submit">Update</button>
            </form>
        </div>

     <section class="section_form">
         <h1>you don't need this account ?</h1>
         <a class="links"  href="{% url 'delete-account' %}" >delete</a>
     </section>
    </section>


{% endblock %}