{% extends 'main.html' %}
{% load static %}

{% block css %}
     <link href="{% static 'css/form.css'  %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
{% endblock %}

{% block content %}

        <section class="section_form">

            <section class="section_form title">
                 {% if SubscriptionID %}
            <h1>Subscription status:</h1>
              <h1>{{ SubPlan }}⭐</h1>
            {% else %}
             <h1>Subscription status:</h1>
              <h1>{{ SubPlan }}😒</h1>
              <p>You can subscribe 👇 </p>
          <a class="links" href={% url 'subscription_plans' %}>Subscribe</a>

    {% endif %}
         </section>

   <div class="container_form" id="container">
                <form method="POST" autocomplete="off" >
                    {% csrf_token %}
                <h1>Update account</h1>

                    {% for field in form %}
              {% if field.name == 'is_writer' %}
             <label class="form__label" > {{ field.label }} {{ field }}  </label>
                        {% else %}
                         {{field}}
              {% endif %}
{% endfor %}
                    <button class="button" type="submit">Update</button>
                </form>

   </div>


        {% if SubscriptionID %}
        <section class="section_form">
        <h1>Cancel subscription plan</h1>
            <br>
            <a id="deleteButton" class="links" href={% url 'delete-subscription' SubscriptionID %}>Cancel Subscribe</a>
        </section>
{#            update#}
         <section class="section_form">
        <h1>Update subscription plan</h1>
            <br>
            <a id="updateButton" class="links" href={% url 'update-subscription' SubscriptionID %}>update Subscribe</a>
        </section>

            {% else %}
    {% endif %}

    </section>
<script src="https://code.jquery.com/jquery-3.6.4.min.js">

</script>
    <script>
    $(document).ready(function ()
        {
            $("#deleteButton").on('click',function(){
               $(this).text('processing..') ;
            })
        }
    )

     $(document).ready(function ()
        {
            $("#updateButton").on('click',function(){
               $(this).text('processing..') ;
            })
        }
    )




    </script>

{% endblock %}

