{% extends 'main.html' %}
{% load static %}
{% block css %}
<link href="{% static 'css/read.css'  %}" rel="stylesheet">
{% endblock %}
{% block content %}



{#        <section class="section_form title">#}
{#        <h2 style="font-size: 20px">#}
{#     {{ article.title }}#}
{#            </h2>#}
{##}
{#            <p style="font-size: 14px">#}
{#        {{ article.content }}#}
{#                </p>#}
{#        <br>#}
{#        {{ article.date_post }}#}
{#        <br>#}
{#            {% if article.is_premium  == True %}#}
{#            <hr>#}
{#            <strong>⭐ Premium</strong>#}
{#          {% elif article.is_premium  == False %}#}
{#            <strong>Standard</strong>#}
{#            {% endif %}#}
{##}
{#        <br>#}
{#         </section>#}
  {% for article in articles %}
        <section class="main-article">
        <article class="article">
	<h1 class="header-article">
		<span class="focusing">{{ article.title }}</span>
{#		<span class="heart">Focus</span>#}
	</h1>
	<cite class="cite">
		by <span class="name">{{ article.user.first_name }}</span> |
		Posted date <span class="name">{{ article.date_post }}</span>
	</cite>
	<img class="read-image" src="https://images.unsplash.com/photo-1471119017026-179f1bb0a70e?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="not actually Fabio" />
	<aside>
        {% if article.is_premium  == True %}
            <hr>
            <span class="the">⭐⭐⭐ Premium</span>
          {% elif article.is_premium  == False %}
            <span class="the">⭐⭐ Standard</span>
            {% endif %}
    </aside>
	<main class="read-main">
		<p><span class="dropcap">A dozen</span>
        {{ article.content  }}
        </p>
	</main>
</article>
    {% endfor %}
</section>
{% endblock %}
