{% extends 'main.html' %}

{% load static %}
{% block css %}
<link href="{% static 'css/form.css'  %}" rel="stylesheet">
{% endblock %}

{% block content %}
        <section class="section_form title">
        <h1>Standard subscription</h1>
            <br>
            <hr>
<div id="paypal-button-container-P-9VV53068FJ9165453MY5I7SY"></div>
{#            clint id#}
<script src="https://www.paypal.com/sdk/js?client-id=AaWVwtPsIhAcpoFocSi37r4UcsWafPKdQw8pTwzNvVExhTQldbCRTqwAimF4BRPU4dggFF8wPIa8t7-F&vault=true&intent=subscription" data-sdk-integration-source="button-factory"></script>
<script>
  paypal.Buttons({
      style: {
          shape: 'pill',
          color: 'gold',
          layout: 'vertical',
          label: 'subscribe'
      },
      createSubscription: function(data, actions) {
        return actions.subscription.create({
          /* Creates the subscription */
          plan_id: 'P-9VV53068FJ9165453MY5I7SY'
        });
      },
      onApprove: function(data, actions) {
        alert(data.subscriptionID); // You can add optional success message for the subscriber here
      }
  }).render('#paypal-button-container-P-9VV53068FJ9165453MY5I7SY'); // Renders the PayPal button
</script>
                </section >

     <section class="section_form title">
        <h1>Premium subscription</h1>
     <div id="paypal-button-container-P-13212774DJ560112BMY5JHAI"></div>



         <script>
  paypal.Buttons({
      style: {
          shape: 'pill',
          color: 'blue',
          layout: 'vertical',
          label: 'subscribe'
      },
      createSubscription: function(data, actions) {
        return actions.subscription.create({
          /* Creates the subscription */
          plan_id: 'P-13212774DJ560112BMY5JHAI'
        });
      },
      onApprove: function(data, actions) {
        alert(data.subscriptionID); // You can add optional success message for the subscriber here
      }
  }).render('#paypal-button-container-P-13212774DJ560112BMY5JHAI'); // Renders the PayPal button
</script>

     </section>

{% endblock %}