{% extends 'main.html' %}

{% load static %}
{% block css %}
<link href="{% static 'css/form.css'  %}" rel="stylesheet">
{% endblock %}

{% block content %}
        <section class="section_form title">
        <h1>Standard subscription</h1>
            <br>
            <hr>
<div id="paypal-button-container-P-7064205047605035BMZCITBQ"></div>
{#            clint id#}
<script src="https://www.paypal.com/sdk/js?client-id=AaWVwtPsIhAcpoFocSi37r4UcsWafPKdQw8pTwzNvVExhTQldbCRTqwAimF4BRPU4dggFF8wPIa8t7-F&vault=true&intent=subscription" data-sdk-integration-source="button-factory"></script>
<script>
  paypal.Buttons({
      style: {
          shape: 'pill',
          color: 'gold',
          layout: 'vertical',
          label: 'subscribe'
      },
      createSubscription: function(data, actions) {
        return actions.subscription.create({
          /* Creates the subscription */
          plan_id: 'P-7064205047605035BMZCITBQ'
        });
      },
      onApprove: function(data, actions) {
        {#alert(data.subscriptionID); // You can add optional success message for the subscriber here#}
       var current_url = '/client/create-subscription/' + data.subscriptionID + '/Standard'
          window.open(current_url,'_self')
      }

  }).render('#paypal-button-container-P-7064205047605035BMZCITBQ'); // Renders the PayPal button
</script>
                </section >

     <section class="section_form title">
        <h1>Premium subscription</h1>
     <div id="paypal-button-container-P-7RA300099Y398215DMZCI5KA"></div>



         <script>
  paypal.Buttons({
      style: {
          shape: 'pill',
          color: 'blue',
          layout: 'vertical',
          label: 'subscribe'
      },
      createSubscription: function(data, actions) {
        return actions.subscription.create({
          /* Creates the subscription */
          plan_id: 'P-7RA300099Y398215DMZCI5KA'
        });
      },
      onApprove: function(data, actions) {
        {#alert(data.subscriptionID); // You can add optional success message for the subscriber here#}
        var current_url = '/client/create-subscription/' + data.subscriptionID + '/Premium'
          window.open(current_url,'_self')
      }
  }).render('#paypal-button-container-P-7RA300099Y398215DMZCI5KA'); // Renders the PayPal button
</script>

     </section>

{% endblock %}