{% extends 'main.html' %}
{% load static %}
{% block css %}

<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}

<body>
  <div class="section-hero-1">
      <div class="section-hero-1-1">
          <div class="section-hero-1-2">
              <h1 class="header-section">
                 Inspiration in Every Article
                Discover.
                  Learn.
                  Transform.

              </h1>
              <p class="section-para">
                    Read, Learn, and Grow with Articles from Diverse Voices

              </p>
              <div class="header-section-a">
                  <a href="#" class="header-section-link">
                      Get started
                  </a>
                  <a href="#" class="header-section-link-2">
                      Learn more <span aria-hidden="true">→</span>

                  </a>

              </div>
              <div class="section-hero-pic">
                  <img src="{% static 'images/ai.png' %}"
                           class="section-hero-img"
                           alt="article-login-page"
                           width="1000" height="500">
              </div>
          </div>
      </div>

    </div>

</body>

{% endblock %}