{% extends 'main.html' %}
{% load static %}

{% block css %}
     <link href="{% static 'css/form.css'  %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
{% endblock %}
{% block content %}
       <section class="section_form">
    <div class="container_form" >
                <form method="POST" autocomplete="off" >
                    {% csrf_token %}
                <h1 style="margin-bottom: 3rem">Sign In</h1>
                <span>or use your email and password</span>
                    {% for field in loginForm %}
                   {{ field }}
                    {% endfor %}
                <a href="{% url 'reset_password' %}">Forget Your Password?</a>
                <button class="button-main" type="submit">Sign In</button>
            </form>
        </div>
       </section>

{% endblock %}