{% extends 'main.html' %}
{% load static %}
{% block css %}
     <link href="{% static 'css/form.css'  %}" rel="stylesheet">

{% endblock %}

{% block content %}
    <section class="section_password_reset">
        <div class="container_form_password" id="container">
               <h3 style="margin-top: 1rem;text-align: center">Password reset</h3>

       <p style="margin-top: 1rem;margin-bottom: 1rem">forgotten your password? <span style="margin-left: 0.5rem">you can set a new one</span></p>
                <form method="POST" autocomplete="off" >
                    {% csrf_token %}
                         {{form}}
                    <button class="button-main" type="submit">submit</button>
                </form>
   </div>
    </section>
{% endblock %}