{% extends 'main.html' %}
{% load static %}

{% block css %}
     <link href="{% static 'css/form.css'  %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
{% endblock %}
{% block content %}
<h3> enter new password</h3>

<p>
    please enter in your new password
</p>

 <div class="container_form" id="container">
                <form method="POST" autocomplete="off" >
                    {% csrf_token %}


                         {{form}}


                    <button class="button" type="submit">Update password</button>
                </form>

   </div>
{% endblock %}