{% extends 'main.html' %}
{% load static %}

{% block css %}
<link href="{% static 'css/about.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}
    <div class="custom-class">
      <div class="custom-class-1">

        </div>
    <div class="container-about">
        <div class="container-about-el">
            <h1 class="text-content">
                 We’re a passionate group of people working from around the world
              to build the wise world.
            </h1>
            <div class="custom-para">
                <p>
                      Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui
                lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat
                fugiat aliqua. Anim aute id magna aliqua ad ad non deserunt
                sunt. Qui irure qui lorem cupidatat commodo.
                </p>
            </div>
            <img
              src='{% static 'images/ph1.avif' %}'
              alt=""
              class="about-image"
            />
        </div>
    </div>
    <div class="about-about">

    </div>

    </div>



{% endblock %}

