{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/navbar.css'  %} "/>
  </head>
  <body>
    <header class="header">
      <a href="{% url '' %}">
        <img class="logo" alt="logo" src="" />
      </a>
      <nav class="main-nav">
        <ul class="main-nav-list">
{#          <li><a class="main-nav-link" href="#">Register</a></li>#}

          <li>
{#            <a class="main-nav-link" href="#testimonials">Testimonials</a>#}
{#          </li>#}
{#          <li><a class="main-nav-link" href="#price">Pricing</a></li>#}
         {% if request.user.is_authenticated %}


             {% if request.user.is_authenticated and request.user.is_writer %}
                 <li><a class="main-nav-link" href="{% url 'writer-dashbored' %}">Dashbored</a></li>
             <li><a class="main-nav-link" href="{% url 'create-article' %}">Create article</a></li>
             <li><a class="main-nav-link" href="{% url 'my_articles' %}">my article</a></li>
                  <li><a class="main-nav-link" href="{% url 'account_management' %}">account management</a></li>
                 <li><a class="main-nav-link" href="{% url 'logout' %}">Logout</a></li>
                 {% else %}
                     <li><a class="main-nav-link" href="{% url 'client-dashboard' %}">Dashbored</a></li>
                  <li><a class="main-nav-link" href="{% url 'client-dashboard' %}">read article</a></li>
                          <li><a class="main-nav-link" href="{% url 'client-dashboard' %}">account management</a></li>
                  <li><a class="main-nav-link" href="{% url 'logout' %}">Logout</a></li>
                 {% endif %}
         {% else %}
              <li><a class="main-nav-link nav-cat" href="{% url 'register' %}">Register</a></li>
             <li><a class="main-nav-link" href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
      </nav>
      <button aria-label="Open Menu" class="btn-mobile-nav">
        <box-icon class="icon-mobile-nav" name="menu"></box-icon>
        <box-icon class="icon-mobile-nav" name="x"></box-icon>
      </button>
    </header>
  </body>
  <script src="{% static 'javascripts/script.js' %}"></script>
  <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</html>
